.frame {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    
    width: 90%;
    margin: auto;
}

.quest {
    font-size: 1.7rem;
    font-weight: bold;
}

body {
    font-family: Consolas;
}